.spacer {
  flex: 1 1 auto;

}


.a{
  color: white;
  margin-right: 20px;

}

.b{
  color: white;
  margin-right: 20px;

}

.b:hover{
 color: rgb(107, 107, 231);
   transition: 0.2s;
}

.a:hover{
  color: rgb(107, 107, 231);
  transition: 0.2s;
}

.home-container {
  text-align: center;
  margin-top: 40px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.home-card {
  width: 250px;
  cursor: pointer;
  transition: transform 0.2s;
}

.home-card:hover {
  transform: scale(1.05);
}
